@import url('https://fonts.googleapis.com/css?family=Indie Flower');

@import url('https://fonts.googleapis.com/css?family=Mali');

   

/* You must use a DIFFERENT FONT THAT THIS ONE as your webfont */

/*************************************************
            DEFAULTS
*************************************************/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
*::after,
*::before{
    box-sizing: inherit;
}
html{
    font-size: 25px;
    font-family: Indie Flower, Mali, sans-serif;
    line-height: 1.5;
    text-align: left;
}
p{
    
}
a{
    
}
ul{
    
}
ol{
    
}
li{
    
}
img{
    width: 25%;
}

/*************************************************
            HEADER
*************************************************/
header{
    padding: 2px;
    margin: 0px;
    background-image: url(../img/natureheader.jpg);
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
    border-top: 25px solid hsl(125, 50%, 30%, 1);
    
    
    
}
header > h1{
    color: rgb(100, 100, 100);
    font: bold;
    padding-left: 10px;
    
}
header > h2{
    color: rgb(100, 100, 100);
    font: bold;
    padding-left: 10px;
}
/*************************************************
            NAVMENU
*************************************************/
nav.mainnav{
    width: 100%;    
    font-size: 1rem; 
    background-color: rgb(130, 130, 130);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
nav > a,
nav > a:visited,
nav > a:link{
    font-size: 1rem; 
    color: rgb(80, 80, 80);
    font: bold;
    text-decoration: none;
    
}
nav > a:active,

nav > a:focus,
nav > a:hover{
   color: hsl(125, 50%, 30%, 1);

}

/*************************************************
            MAIN CONTENT
*************************************************/
main{
    padding:1rem 2rem;
    margin: 3px;
    text-align: left;
    color: rgb(85, 85, 85);

    display: flex;
    flex-direction: column;
    
}
section {
    flex-basis: 100%;
} 
    
}
section p{

    
}
section p img{
    float: left;
    margin-right: 8px;
    margin-top: 8px;
    
}

/*************************************************
            FOOTER
*************************************************/
footer{
    padding:1rem 2rem;
    background-color: rgb(130, 130, 130);
    border-top: 25px solid hsl(125, 50%, 30%, 1);
    border-bottom: 25px solid hsl(125, 50%, 30%, 1);
    display: flex;
    flex-direction: column-reverse;
}
.foot nav{
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
    
}
.foot section{
   display: flex;
   justify-content: center;
   
    
}
.foot dl { 
    color: rgb(60, 60, 60);
    font: bold;
    
}
.foot dt{

    
}
.foot dd{
    
}
.foot dd a{
    color: rgb(60, 60, 60);
    font: bold;
}

.foot dd a:visited{

    
}
.foot dd > a:active,
.foot dd > a:focus,
.foot dd > a:hover {
    color: hsl(125, 50%, 30%, 1);
}

form {
    width: 100%;
}

form div.form-box {
    text-align: center;
}

form div.form-box:nth-of-type(1) input {
    width: 40%;
}

form div.form-box select {
    width: 25%;
}

form div.form-box textarea {
    width: 75%;
    height: 70px;
}
    
/*************************************************
            MEDIA QUERIES for layout
*************************************************/
@media (max-width: 599px){

header{
    border-top: 25px solid hsl(344, 77%, 40%, 1);
    }
    
nav > a:link{
    width: 100%; 
    margin-left: 15px;
    }
    
nav > a:hover{
   color: hsl(344, 77%, 40%, 1);

}
    
section p{
    
    display: flex;
    flex-flow: column;
    text-align: left;
    
}
    
section p img{
    width: 100%;
    
}


footer{
    border-top: 25px solid hsl(344, 77%, 40%, 1);
    border-bottom: 25px solid hsl(344, 77%, 40%, 1);
    display: flex;
    flex-direction: column-reverse;
    
    }
    
.foot dd > a:hover {
    color: hsl(344, 77%, 40%, 1);
}
    
}

@media (min-width: 600px) and (max-width:999px){
    
header{
    border-top: 25px solid hsl(58, 77%, 40%, 1);
    }
    
nav > a:hover{
   color: hsl(58, 77%, 40%, 1);

}


    main {
        
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    section.minor-segment {
        flex-basis: 50%;
    }
    
section p{
    
    display: flex;
    flex-flow: column;
    text-align: left;
    margin-right: 5px;
    
}   
    
section p img{
    width: 100%;
    margin-right: 5px;
    
}

footer{
    border-top: 25px solid hsl(58, 77%, 40%, 1);
    border-bottom: 25px solid hsl(58, 77%, 40%, 1);
    display: flex;
    flex-direction: column-reverse;
    }
    
.foot dd > a:hover {
    color: hsl(58, 77%, 40%, 1);
}
   
}

@media (min-width: 1000px){
    
header{
    border-top: 25px solid hsl(125, 50%, 30%, 1);
    }
    
nav > a:hover{
   color: hsl(125, 50%, 30%, 1);

}
    
    
footer{
    border-top: 25px solid hsl(125, 50%, 30%, 1);
    border-bottom: 25px solid hsl(125, 50%, 30%, 1);
    }
    
.foot dd > a:hover {
    color: hsl(125, 50%, 30%, 1);
}
}